@font-face {
	font-family: Roboto;
	font-weight: 400;
	src: url(/font/robotoRegularLatin.woff) format(woff);
}

* {
	-ms-user-select: none;
	/* -webkit-tap-highlight-color: transparent; */
	-webkit-user-select: none;
	font-family: Roboto;
	margin: auto;
	user-select: none;
}

html {
	background-color: #000
}

footer, header {
	margin: 1.2rem auto 1.2rem;
}