
* {
	-khtml-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	margin: auto;
	user-select: none;
}

html {
	background-color: #000;
	font-family: Roboto;
}

footer, header {
	margin: 1.2rem auto 1.2rem;
}