@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	src: url(/font/opensansBoldLatin.woff) format(woff);
}

a {
	color: #000;
	text-decoration: none;
}

body {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

main {
	text-align: center;
	
	& name {
		font-family: "Open Sans";
		font-size: 2.2rem;
		font-weight: 700;
		letter-spacing: .08rem;
		transition: .25s cubic-bezier(0.4, 0, 0.2, 1);
		transition-property: color, letter-spacing;
		
		&:hover, &:focus {
			color: #b25eff;
			letter-spacing: 0;
			transition: .25s ease-out;
		}
	}
	
	& [separator] {
		background-color: #666;
		height: .12rem;
		margin: .9rem -1rem;
	}
	
	& projects {
		& div {
			margin: .4rem auto;
		}
		
		& a {
			font-size: 1.2rem;
			letter-spacing: .03rem;
			transition: letter-spacing .25s ease;
			
			&:hover, &:focus {
				letter-spacing: .08rem;
				transition: .3s ease;
			}
			
		}
	}
}

footer {
	display: flex;
	
	& socials {
		display: inherit;
		
		& icon {
			margin: auto 1rem;
			width: 2rem;
			
			& a {
				filter: grayscale(100%);
				height: inherit;
				transition: filter .25s;
				width: inherit;
				
				&:hover, &:focus {
					filter: grayscale(0%);
				}
				
				& img {
					display: block;
					pointer-events: none;
				}
			}
			
			&[contrast] a {
				filter: contrast(25%);
				
				&:hover {
					filter: contrast(100%);
				}
			}
		}
		
		& [separator] {
			background-color: #333;
			margin: .1rem .65rem;
			width: .12rem;
		}
	}
}

/* header {
	& themeChange {
		// Future Feature
	}
} */