@font-face {
	font-family: 'Open Sans';
	src: url('/res/font/opensansBoldLatin.woff');
}

@font-face {
	font-family: Roboto;
	src: url('/res/font/robotoRegularLatin.woff');
}

:not(soc) > a[href^='http']::after {
	content: ' \2197';
	font-size: .6rem;
	vertical-align: super
}

a {
	color: var(--txt);
	text-decoration: none
}

body {
	text-align: center;
	margin: auto;
	padding: 15dvh 0vh
}

html {
	--bg: #fdfcfe;
	--sec: #666;
	--txt: #111;
	
	background: var(--bg);
	display: flex;
	font-family: Roboto;
	min-height: 100dvh;
	overflow-x: clip
}

name {
	&:hover, &:focus {
		color: #b25eff;
		letter-spacing: 0
	}
	
	font: 700 2.2rem 'Open Sans';
	letter-spacing: .08rem;
	transition: .25s
}

sep {
	&[h] {
		height: 1px;
		margin: .9rem -1.5rem
	}
	
	&[v] {
		margin: .1rem .65rem;
		width: 1px
	}
	
	background: var(--sec);
	display: block
}

soc {
	a {
		&:has(svg) {
			width: 2rem
		}
		
		svg {
			display: block;
			pointer-events: none
		}
		
		margin: auto 1rem
	}
	
	border: 1px var(--sec);
	border-top-style: solid;
	display: flex;
	margin: .65rem auto;
	padding: 1.2rem 1.5rem;
	width: fit-content
}

top {
	a {
		&[c] {
			text-decoration: underline
		}
		
		&:hover, &:focus {
			letter-spacing: .1rem
		}
		
		display: block;
		font-size: 1.4rem;
		letter-spacing: .03rem;
		margin: .4rem auto;
		transition: .25s;
		width: fit-content
	}
	
	display: inline-block;
}

/* loader {
	background: var(--background);
	min-height: 100dvh;
	min-width: 100dvw
} */