<!DOCTYPE html>
<html lang='en'>
	<head>
		<link as='font' crossorigin='anonymous' href='/pathto.woff' rel='preload'>
		<link href='/favicon.png' rel='icon'>
		<link href='/static/css/global.css' rel='stylesheet'>
		<link href='/pathto.css' rel='stylesheet'>
		<meta name='viewport' content='width=device-width,initial-scale=.6'>
		<script src='/static/js/global.js'></script>
		<title>MacStevins | Template</title>
	</head>
	<body>
		<loader></loader>
		<header>
			<theme>
				<input type='image' src='/static/img/icon/sun.svg' alt='Site Theme'>
			</theme>
		</header>
		<main>
		</main>
	</body>
</html>